.global-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .left-panel {
    width: 150px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 3px #e0e3eb solid;

    .button-container {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      .link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:hover {
        i {
          transition-duration: 1s;
          transition-property: color;
          color: #27ae60;
        }
      }
    }

    .button-selected {
      border-right: 3px #27ae60 solid;
      margin-left: 3px;
      .icon-selected {
        color: #27ae60;
      }
    }
  }

  .table-container {
    width: 81%;
    height: 95%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    overflow: auto;

    .table {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .delete-button {
        background-color: red;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        width: 175px;
        height: 50px;
        border: none;
        outline: none;
      }
    }
  }
}
