<div class="global-container">
  <div class="left-panel">
    <div
      class="button-container"
      [ngClass]="{ 'button-selected': selected === 'bars' }"
    >
      <a class="link" routerLink="/graph">
        <i
          class="material-icons icon-size icon-color"
          [ngClass]="{ 'icon-selected': selected === 'bars' }"
          >show_chart</i
        >
      </a>
    </div>
    <div
      class="button-container"
      [ngClass]="{ 'button-selected': selected === 'line' }"
    >
      <a class="link" routerLink="/users">
        <i
          class="material-icons icon-size icon-color"
          [ngClass]="{ 'icon-selected': selected === 'line' }"
          >table_chart</i
        ></a
      >
    </div>
  </div>
  <div class="table-container">
    <li class="table" *ngFor="let user of users | async">
      <span>{{ user.payload.doc.data().email }}</span>
      <button
        class="delete-button"
        (click)="deleteUser(user.payload.doc.data().email)"
      >
        Supprimer l'utilisateur
      </button>
    </li>
  </div>
</div>
