.global-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .global-title {
    font-size: 42px;
    margin: 20px;
  }

  .form-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input-container {
      width: 370px;
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 30px;

      .label {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .input {
        font-size: 18px;
        border-radius: 10px;
        width: 350px;
        height: 30px;
        padding: 10px;
        outline: none;
        border: none;
      }
    }
    .validate-button {
      background-color: #27ae60;
      color: white;
      font-size: 18px;
      border-radius: 5px;
      width: 175px;
      height: 40px;
      border: none;
      outline: none;
    }
  }
}
