<div class="global-container">
  <span class="global-title">Connexion</span>
  <form class="form-container" (ngSubmit)="login()">
    <div class="input-container">
      <label class="label">Adresse e-mail</label>
      <input
        class="input"
        type="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>

    <div class="input-container">
      <label class="label">Mot de passe</label>
      <input
        class="input"
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>

    <button class="validate-button">Valider</button>
  </form>
</div>
