.global-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2f2e2d;

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .right-panel {
      width: 100%;
      height: 100%;
    }
  }
}
