/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.icon-size {
  font-size: 48px;
}

.icon-color {
  color: #d2d5dd;
}

.icon-white {
  color: white;
}

.background-purple {
  background-color: #6f32ff;
}

.background-orange {
  background-color: #ff9066;
}

.background-yellow {
  background-color: #ffcd41;
}
