.global-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .left-panel {
    width: 150px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 3px #e0e3eb solid;

    .button-container {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      .link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:hover {
        i {
          transition-duration: 1s;
          transition-property: color;
          color: #27ae60;
        }
      }
    }

    .button-selected {
      border-right: 3px #27ae60 solid;
      margin-left: 3px;
      .icon-selected {
        color: #27ae60;
      }
    }
  }

  .right-panel {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;

    .chart-container {
      width: 81%;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .options-container {
      width: 15%;
      height: 100%;
      background-color: #3a3837;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .option-container {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .option-title {
          font-size: 22px;
          font-weight: bold;
        }

        .label-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .icon-container {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .label-select {
            color: #60666d;
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 10px;
            text-decoration: none;
            outline: none;
            :visited {
              text-decoration: none;
              outline: none;
            }
            :hover {
              text-decoration: none;
              outline: none;
            }
            option {
              background-color: #27ae60;
              color: white;
              border: none;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
