<div class="global-container">
  <div class="left-panel">
    <div
      class="button-container"
      [ngClass]="{ 'button-selected': selected === 'bars' }"
    >
      <a class="link" routerLink="/graph">
        <i
          class="material-icons icon-size icon-color"
          [ngClass]="{ 'icon-selected': selected === 'bars' }"
          >show_chart</i
        >
      </a>
    </div>
    <div
      class="button-container"
      [ngClass]="{ 'button-selected': selected === 'line' }"
    >
      <a class="link" routerLink="/users">
        <i
          class="material-icons icon-size icon-color"
          [ngClass]="{ 'icon-selected': selected === 'line' }"
          >table_chart</i
        ></a
      >
    </div>
  </div>
  <div class="right-panel">
    <div class="chart-container">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
    <div class="options-container">
      <div class="option-container">
        <span class="option-title">Utilisateur</span>
        <div class="label-container">
          <div class="icon-container background-purple">
            <i class="material-icons icon-size icon-white">people</i>
          </div>
          <select
            class="label-select"
            name="user"
            id="user-select"
            (change)="user($event.target.value)"
          >
            <option
              *ngFor="let user of users | async"
              ng-value="user.payload.doc.data().email"
              >{{ user.payload.doc.data().email }}</option
            >
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
